$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

nav > * {
  float: right;
  text-align: center;
  margin: 5px 5px;
}

.hide {
  visibility: hidden;
}
